git+https://github.com/m-bain/whisperX.git
contextualize==0.0.3
yt-dlp==2023.11.16
click>=8.1.7
rich>=13.7.1
fuzzywuzzy>=0.18.0
python_Levenshtein
pyperclip>=1.8.2
send2trash>=1.8.3
sexpdata>=1.0.2
scikit-learn>=1.5.0
nomic==3.0.29
